*,
*:before,
*:after {
  box-sizing:border-box;
}

main {
  margin:20px auto;
  max-width:800px;
  text-align:center;
}

h1 {
  margin-bottom:50px;
}

.card {
  background-color:#f1f1f1;
  padding:30px 20px;
  border-radius:4px;
  box-shadow:0px 0px 8px 3px rgba(0, 0, 0, .2);
  text-align:left;
}

#hotel-list {
  display:flex;
  flex-flow:wrap;
  align-items:flex-start;
  width:100%;
}

#hotel-list .card {
  width:30%;
  margin-right:5%;
}

#hotel-list .card:last-of-type {
  margin-right:0px;
}
.hotel-deets {
  margin-top:0px;
}
